/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    background-color:darkgoldenrod;
}

section#certificates {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #3498db;
    font-size: 2.5em;
    margin-bottom: 30px;
}

/* Container for certificate items */
.certificates-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 10px;
    background-color: aqua;
}

.certificate-item {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.certificate-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.certificate-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.certificate-item p {
    font-size: 1.1em;
    color: #555;
    margin-top: 10px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    section#certificates {
        width: 90%;
    }

    h1 {
        font-size: 2em;
    }
}
