/* Basic styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color:darkgoldenrod;
}

/* Section Styling */
section {
    padding: 20px;
    margin: 20px auto;
    max-width: 1000px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #d2d9dd;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    color: #444;
    margin-top: 20px;
}

h3 {
    color: #333;
    font-size: 1.2em;
    margin-top: 15px;
}

.project {
    margin-bottom: 20px;
}

p {
    font-size: 1em;
    color: #555;
    margin-bottom: 10px;
}

ul {
    margin: 10px 0;
    padding-left: 20px;
}

li {
    font-size: 1em;
    color: #555;
}

ul li::before {
    content: "• ";
    color: #00bfae;
}

/* Add some space between sections */
#projects {
    margin-top: 40px;
}

/* Header styling */
#projects h1 {
    font-size: 2em;
    color: #00bfae;
}

/* Styling for project descriptions */
#projects .project p {
    margin-bottom: 15px;
}

#advanced-fire-detection h1 {
    color: #e74c3c;
}

/* Add some responsive design */
@media (max-width: 768px) {
    section {
        padding: 10px;
    }

    h1, h2, h3 {
        font-size: 1.2em;
    }

    p {
        font-size: 0.9em;
    }
}
